

/* ==========================================================================
   Author's custom styles
   ========================================================================== */


body { 
background-color: #80d4ea; 
} 

#time { 
height: 100px; 
width: 800px; 
margin: auto; 
position: absolute; 
top: 0; 
left: 0; 
bottom: 0; 
right: 0; 
text-align: center; 
color: white; 
font-size: 100px; 
}